<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/lib.css') }}">
    <title>Библиотека</title>
</head>
<body>
    <div class="top-bar">
        <a href="{{ url_for('startscreen') }}">Приветствие</a>
        <a href="{{ url_for('index') }}">Список учеников</a>
        <a href="{{ url_for('library') }}">В библиотеку</a>
        {% if 'logged' in session and session['logged'] %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        {% else %}
        <a href="{{ url_for('register') }}">Зарегистрироваться</a>
         {% endif %}
    </div>
    <h1>Здесь представлены все необходимые книги для успешного окончания обучения</h1>
    <div class="bookslist">
        <h2>
            <p></p>Книги для первого курса
        </h2>
        <h3>
    <p></p>«Курсическая книга заговоров и заклинаний». Автор — Миранда Гуссокл.
    <p></p>«История магии». Автор — Батильда Бэгшот.
    <p></p>«Тёмные силы: пособие по самозащите». Автор — Квентин Тримбл. Учебник для Защиты от Тёмных искусств.
    <p></p>«Теория магии». Автор — Адальберт Уоффлинг.
    <p></p>«1000 магических трав и грибов». Автор — Филлида Спора. Учебник по Травологии.
    <p></p>«Руководство по трансфигурации для начинающих». Автор — Эмерик Свитч.
    <p></p>«Магические отвары и зелья». Автор — Жиг Мышьякофф.
    <p></p>«Фантастические звери: места обитания». Автор — Ньют Саламандер.
        </h3>
        <h2>
            <p></p>Книги для второго курса
        </h2>
        <h3>
    <p></p>«Стандартная книга заклинаний. 2 курс». Автор — Миранда Гуссокл.
    <p></p>«Встречи с вампирами». Автор — Златопуст Локонс.
    <p></p>«Духи на дорогах». Автор — Златопуст Локонс.
    <p></p>«Каникулы с каргой». Автор — Златопуст Локонс.
    <p></p>«Победа над привидением». Автор — Златопуст Локонс.
    <p></p>«Тропою троллей». Автор — Златопуст Локонс.
    <p></p>«Увеселение с упырями». Автор — Златопуст Локонс.
    <p></p>«Йоркширские йети». Автор — Златопуст Локонс.
        </h3>
        <h2>
            <p></p>Книги для третьего курса
        </h2>
        <h3>
    <p></p>«Как рассеять туман над будущим». Автор — Кассандра Ваблатски. Учебник по Прорицанию.
    <p></p>«Чудовищная книга о чудовищах».
    <p></p>«Трансфигурация. Средний уровень».
    <p></p>«Стандартная книга заклинаний. 3-й курс». Автор — Миранда Гуссокл.
    <p></p>«История магии». Автор — Батильда Бэгшот.
    <p></p>«Нумерология и грамматика».
    <p></p>«Основы защиты от темных искусств». Автор — Жиг Мышьякофф.
        </h3>
        <h2>
            <p></p>Книги для четвертого курса
        </h2>
        <h3>
    <p></p>«Стандартная книга заклинаний. 4-й курс». Автор — Миранда Гуссокл.
    <p></p>«Как рассеять туман над будущим». Автор — Кассандра Ваблатски.
        </h3>
        <h2>
            <p></p>Книги для пятого курса
        </h2>
        <h3>
    <p></p>«Стандартная книга заклинаний. 5 курс». Автор — Миранда Гуссокл.
    <p></p>«Теория защитной магии». Автор — Уилберт Слинкхард.
    <p></p>«1000 магических трав и грибов».
    <p></p>«Оракул снов». Автор — Иниго Имаго.
    <p></p>«Ступенчатая трансфигурация».
    <p></p>«Успехи заклинательных наук». 
        </h3>
        <h2>
            <p></p>Книги для шестого курса
        </h2>
        <h3>
    <p></p>«Лицом к лицу с безликим» — учебник по Защите от тёмных искусств.
    <p></p>«Стандартная книга заклинаний. 6 курс». Автор — Миранда Гуссокл.
    <p></p>«Плотоядные деревья всего мира» — учебник по Травологии.
    <p></p>«Расширенный курс зельеварения». Автор — Либациус Бораго.
        </h3>
    </div>
</body>