<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/startscreen.css') }}">
    <title>Приветственная страница</title>
</head>
<body>
    <div class="top-bar">
        <a href="{{ url_for('startscreen') }}">Приветствие</a>
        <a href="{{ url_for('index') }}">Список учеников</a>
        <a href="{{ url_for('library') }}">В библиотеку</a>
        {% if 'logged' in session and session['logged'] %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        {% else %}
        <a href="{{ url_for('register') }}">Зарегистрироваться</a>
         {% endif %}
    </div>
    <h2>
<p>Приветствую вас, ученики, в школе магии.Это начальная страница нашего небольшого сайта.</p>

<p>На этом сайте есть библеотека с перечислением всех книг, нужных для обучения. Сходите в библеотеку и возьмите их!<!p>

<p>Также есть спики учеников вашего курса,не пугайтесь, что нет групп, размера аудиторий хватит на всех!</p>

<p>Если нашли ошибки в сайте, пожалуйста, скажите об этом ближайшей картине</p>
</h2>
</body>
